* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: rgb(0,251,134);
    background: radial-gradient(circle, rgba(0,251,134,1) 9%, rgba(0,212,255,1) 100%);
}

h1 {
    color: rgb(80, 80, 80);
}

.btn-container {
    margin: 5% auto;
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 55px;
    font-weight: bold;
}

.btn-1 {
    border: transparent;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: all 0.3 ease;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}

.btn-1 :hover {
    font-size: large;  
}